# Image Data

In [1]:
import pandas as pd
df = pd.read_csv("image_test_data.csv")

In [2]:
df.head()

,id,image,label,deep_features,image_array
0,0,Height: 32 Width: 32,cat,[1.13469 0 0 0 0.0366498 0 9.3536 0 0 0 0 0 0 ...,[158 112 49 159 111 47 165 116 51 166 118 53 1...
1,6,Height: 32 Width: 32,automobile,[0.231359 0 0 0 0 0.226023 8.85989 0 0 0 1.306...,[160 37 13 185 49 11 209 57 14 217 58 10 230 6...
2,8,Height: 32 Width: 32,cat,[0 0 0.0344192 0 0 0 11.0375 0 0 0 0 0 0 0 0 0...,[23 19 23 19 21 28 21 16 19 65 47 40 164 131 1...
3,9,Height: 32 Width: 32,automobile,[0 0 0 0 0 0 11.6065 0 0 0 1.54379 0 0.951929 ...,[217 215 209 210 208 202 205 208 191 199 202 1...
4,12,Height: 32 Width: 32,dog,[0.322317 0 1.24933 0 0 0 9.10822 0 0 0 0 0 2....,[91 64 30 82 58 30 87 73 59 89 87 83 95 92 80 ...

In [3]:
df_train = pd.read_csv("image_train_data.csv")

In [4]:
df_train.head()

,id,image,label,deep_features,image_array
0,24,Height: 32 Width: 32,bird,[0.242872 1.09545 0 0.39363 0 0 11.8949 0 0 0 ...,[73 77 58 71 68 50 77 69 44 120 116 83 125 120...
1,33,Height: 32 Width: 32,cat,[0.525088 0 0 0 0 0 9.94829 0 0 0 0 0 1.01264 ...,[7 5 8 7 5 8 5 4 6 7 4 7 11 5 9 11 5 9 17 11 1...
2,36,Height: 32 Width: 32,cat,[0.566016 0 0 0 0 0 9.9972 0 0 0 1.38345 0 0.7...,[169 122 65 131 108 75 193 196 192 218 221 222...
3,70,Height: 32 Width: 32,dog,[1.1298 0 0 0.778194 0 0.758051 9.83053 0 0 0....,[154 179 152 159 183 157 165 189 162 174 199 1...
4,90,Height: 32 Width: 32,bird,[1.71787 0 0 0 0 0 9.33936 0 0 0 0 0 0.412137 ...,[216 195 180 201 178 160 210 184 164 212 188 1...

In [5]:
deep_features = df['deep_features'].tolist()
deep_features_train = df_train['deep_features'].tolist()

In [6]:
type(deep_features[0])

str

In [8]:
new_deep_features = []
for i in deep_features:
    i = i.replace("[","")
    i = i.replace("]","")
    feat = i.split()
    new_deep_features.append(feat)

In [9]:
type(new_deep_features[0])

list

In [13]:
list_len = [len(i) for i in new_deep_features]
max(list_len)

4096

In [14]:
cols = []
for i in range(0,max(list_len)):
    strng = 'feature '+str(i)
    cols.append(strng)

In [16]:
indexes = df['id'].tolist()

In [17]:
x = pd.DataFrame (new_deep_features, index = indexes ,columns = cols)

In [19]:
y = df['label'].tolist()

In [37]:
y = pd.DataFrame(y)

In [38]:
y

               0
0            cat
1     automobile
2            cat
3     automobile
4            dog
...          ...
3995         cat
3996         dog
3997         dog
3998         dog
3999  automobile

[4000 rows x 1 columns]

In [22]:
new_deep_features_train = []
for i in deep_features_train:
    i = i.replace("[","")
    i = i.replace("]","")
    feat = i.split()
    new_deep_features_train.append(feat)

In [26]:
y_train = df_train['label'].tolist()
y_train = pd.DataFrame(y_train)
indexes = df_train['id'].tolist()
x_train = pd.DataFrame (new_deep_features_train, index = indexes ,columns = cols)

In [30]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)

X_train = scaler.transform(x_train)
X_test = scaler.transform(x)

In [34]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train.values.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [39]:
y_pred = classifier.predict(X_test)

In [40]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y, y_pred))
print(classification_report(y, y_pred))

[[1045    0    0    0]
 [   0  642    0    0]
 [   0    0 1194    0]
 [   0    0    0 1119]]
              precision    recall  f1-score   support

  automobile       1.00      1.00      1.00      1045
        bird       1.00      1.00      1.00       642
         cat       1.00      1.00      1.00      1194
         dog       1.00      1.00      1.00      1119

    accuracy                           1.00      4000
   macro avg       1.00      1.00      1.00      4000
weighted avg       1.00      1.00      1.00      4000